<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Branch In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="angular-material/angular-material.css"> -->
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.css">
	<link rel='stylesheet' href='/sc-date-time/dist/sc-date-time.css'>
	<link rel="stylesheet" href="/angular-vidbg/dist/vidBg.css">

	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>

	<div ng-controller="GlobalController as nav">


		<ui-view></ui-view>
</div>
	<!-- Ext Libs -->
	<!-- <script src="https://code.jquery.com/jquery-1.11.3.js"></script> -->

<script src="https://api.filepicker.io/v2/filepicker.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="/angular-vidbg/dist/vidBg.js"></script>

	<!-- <script src="angular-ui-router/release/angular-ui-router.min.js"></script> -->



	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-video-bg/0.3.3/angular-video-bg.js"></script> -->
		<script data-require="angular-video-bg@0.2.3" data-semver="0.2.3" src="https://rawgit.com/kanzelm3/angular-video-bg/master/angular-video-bg.min.js"></script>
		<script src="/ng-videosharing-embed/build/ng-videosharing-embed.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.4/angular-material.min.js"></script>
		<script src='/sc-date-time/dist/sc-date-time.js'></script>
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script> -->

<!-- node_modules\angular-youtube-embed\dist\angular-youtube-embed.min.js -->
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
 <script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/AuthFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>

	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/EditProfileController.js"></script>
	<script src="/javascript/controllers/NeighborhoodController.js"></script>
	 <script src="/javascript/controllers/CreateProfileController.js"></script>
	<!-- <script src="/javascript/controllers/EditBookController.js"></script> -->
	<script src="/javascript/controllers/GlobalController.js"></script>
	<script src="/javascript/controllers/PostController.js"></script>
	<script src="/javascript/controllers/TextPostController.js"></script>
	<script src="/javascript/controllers/ExploreController.js"></script>
	<script src="/javascript/controllers/ProfileController.js"></script>
	<script src="/javascript/controllers/EditPostController.js"></script>
	<!-- <script src="/javascript/controllers/CreateBookController.js"></script> -->
	<!-- <script src="/javascript/controllers/ProfileController.js"></script> -->
	<!-- <script src="/javascript/controllers/ReadMoreController.js"></script>   -->

</body>
</html>
