.large{
  width:500px;
  flex: 60;
}

.background{
  background-size:100% 100%;
}

#profbtn{
  margin-top:10px;
}

#int{
  margin-left:10px;
}
#profilePic{
  max-width:150px;
  max-height: 150px;
  border-radius: 20px;
  border:2px solid black;
  margin:50px;
}
ul{
  list-style: none;
}
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
#wel{
  position:absolute;
  top:px;
  left:400px;
  color:white;
}
#vid{
  position: :relative;
  height:700px;
}

#reg{
  position:absolute;
  top:200px;
  left:530px;
  opacity: .8;
  border-radius: 8px;
  padding:10px;
}
/*#profile{
  background-color: green;
}*/
